@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: black;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin: 40px 0 20px 20px;
}
@media screen and (min-width: 1024px) {
  h2 {
    display: flex;
    position: relative;
    left: 13%;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #10392f;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.euro {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 5px 0 0;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: black;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin: 40px 0 20px 20px;
}
@media screen and (min-width: 1024px) {
  h2 {
    display: flex;
    position: relative;
    left: 13%;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #10392f;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.euro {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 5px 0 0;
}

/*Mise en page du header*/
header {
  width: 100%;
  height: 64px;
  box-shadow: 0 0 5px 5px #d6d6d6;
  display: flex;
}
header a {
  color: black;
}
header img {
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 15px;
  -o-object-fit: none;
     object-fit: none;
}
header i {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 24px;
  font-size: 20px;
}
@media screen and (min-width: 1024px) {
  header {
    margin: 0 auto;
    box-shadow: none;
  }
}

/*Mise en forme du footer*/
footer {
  width: 100%;
  background-color: #353535;
  padding: 22px;
  position: relative;
}
footer h3 {
  color: #ffffff;
  margin: 0 0 15px 10px;
}
@media screen and (min-width: 1024px) {
  footer h3 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 68px;
    right: 32px;
  }
}
footer .footer-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer .footer-container {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 200px;
  }
}
footer .footer-container a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin: 8px 10px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  footer .footer-container a {
    margin: 0 10px;
  }
}
footer .footer-container a i {
  width: 22px;
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  footer .footer-container a i {
    padding-right: 5px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    width: 100%;
    margin: 0 auto;
  }
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: black;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin: 40px 0 20px 20px;
}
@media screen and (min-width: 1024px) {
  h2 {
    display: flex;
    position: relative;
    left: 13%;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #10392f;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.euro {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 5px 0 0;
}

/*Boutton pour commander*/
.btn-purple {
  display: block;
  margin: 30px auto 0;
  width: 216px;
  height: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 50px;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #aaaaaa;
}

.btn-purple:hover {
  opacity: 1;
  background-color: #89c8fa;
  animation: btn-purple-anim 0.75s ease-out forwards;
  box-shadow: 0 0 10px 0 #777777;
}

@keyframes btn-purple-anim {
  0% {
    filter: brightness(1.05);
    -webkit-filter: brightness(1.05);
  }
  50% {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  100% {
    filter: brightness(1.15);
    -webkit-filter: brightness(1.15);
  }
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

img {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  img {
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 900;
  color: black;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin: 40px 0 20px 20px;
}
@media screen and (min-width: 1024px) {
  h2 {
    display: flex;
    position: relative;
    left: 13%;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #10392f;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.euro {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 5px 0 0;
}

.cards span, .menu span {
  display: flex;
  position: relative;
}
.cards .fa-heart, .menu .fa-heart {
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 20px;
  color: #000000;
}
.cards .fa-solid, .menu .fa-solid {
  transition: all 1s ease-in-out;
  opacity: 0;
  background: linear-gradient(13deg, #ff79da 0%, #9356dc 66%);
  z-index: 10;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.cards .fa-solid:hover, .menu .fa-solid:hover {
  opacity: 1;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loader 3s ease-in-out;
  animation-fill-mode: forwards;
  pointer-events: none;
}
.loader h1 {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: center;
  margin-top: 50vh;
  padding-bottom: 20px;
}

.loader span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  animation: 3s infinite linear;
}

.loader span:nth-child(2) {
  background: #9356dc;
  animation: child2 1.2s infinite linear;
}

.loader span:nth-child(3) {
  background: #99e2d0;
  z-index: 100;
}

.loader span:nth-child(4) {
  background: #89c8fa;
  animation: child4 1.2s infinite linear;
}

@keyframes loader {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    opacity: 0;
  }
}
@keyframes child2 {
  0% {
    transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes child4 {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
    z-index: 200;
  }
}
.menu-title-heart .fa-regular:active {
  color: #9356dc;
}

.entrees-anim {
  opacity: 0;
  animation: descend 2s ease forwards;
}

@keyframes descend {
  from {
    transform: translateY(-100%);
    /* Commence en haut (en dehors de l'écran) */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    /* Se termine en bas de l'écran */
    opacity: 1;
  }
}
.plats-anim {
  opacity: 0;
  animation: descend-two 2s ease forwards 2500ms;
}

@keyframes descend-two {
  from {
    transform: translateY(-100%);
    /* Commence en haut (en dehors de l'écran) */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    /* Se termine en bas de l'écran */
    opacity: 1;
  }
}
.desserts-anim {
  opacity: 0;
  animation: descend-three 2s ease forwards 4500ms;
}

@keyframes descend-three {
  from {
    transform: translateY(-100%);
    /* Commence en haut (en dehors de l'écran) */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    /* Se termine en bas de l'écran */
    opacity: 1;
  }
}
/*Mise en forme du menu*/
.menu {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  padding-bottom: 30px;
  padding-top: 40px;
  margin-top: -130px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: -30px;
    width: 50%;
  }
}
.menu .menu-img {
  z-index: -10;
  position: relative;
}
.menu .menu-title {
  display: flex;
  margin-left: 15px;
}
@media screen and (min-width: 1024px) {
  .menu .menu-title {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
.menu .menu-title h1 {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  position: relative;
  font-weight: 500;
  font-size: 27px;
}
.menu .menu-title h1 i {
  display: block;
  padding-left: 10px;
  position: absolute;
  font-size: 25px;
  top: 50%;
  left: 110%;
  transform: translateY(-50%);
}
@media screen and (min-width: 1024px) {
  .menu .menu-title h1 {
    font-size: 1.8rem;
  }
}
.menu .menu-title .menu-title-heart {
  margin-top: 8px;
  font-size: 30px;
  position: relative;
}
.menu .menu-title .heart-main {
  top: 14px;
  left: 80%;
}
@media screen and (min-width: 1024px) {
  .menu .menu-title .heart-main {
    left: 90%;
  }
}

.menu-plates {
  padding: 0 5px;
}
.menu-plates h4 {
  padding: 30px 0 30px 10px;
}
.menu-plates h4::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  border-bottom: 5px solid #99e2d0;
  display: block;
}
@media screen and (min-width: 1024px) {
  .menu-plates h4 {
    font-size: 1.3rem;
  }
}
.menu-plates-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.plate {
  width: 95%;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  box-shadow: 0px 4px 15px 0 #e6e6e6;
  overflow: hidden;
  cursor: pointer;
}
.plate:hover .plate-check {
  margin-right: 0;
}
.plate-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.plate-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  margin-right: 45px;
}
.plate-title h3 {
  width: 100%;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 17.8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .plate-title h3 {
    width: 600px;
    font-size: 1.3rem;
  }
}
.plate-title p {
  width: 100%;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
}
@media screen and (min-width: 380px) {
  .plate-title p {
    overflow: visible;
  }
}
@media screen and (min-width: 1024px) {
  .plate-title p {
    font-size: 1.25rem;
  }
}
.plate-price {
  color: #000000;
  font-weight: 500;
}
.plate-price p {
  margin-left: -50px;
  margin-top: 34px;
  text-align: center;
}
.plate-check, .plate .fa-circle-check {
  background-color: #99e2d0;
  width: 60px;
  height: 77px;
  /*Borders*/
  border-radius: 0 15px 15px 0;
  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -60px;
  flex-shrink: 0;
  transition: all 1s;
}
.plate-check i, .plate .fa-circle-check i {
  color: #ffffff;
}
.plate-check .fa-circle-check, .plate .fa-circle-check .fa-circle-check {
  margin-left: -55px;
  color: white;
  font-weight: 900;
}

/*Soulignement  des entrées, platset desserts*/
.underline {
  width: 12%;
  height: 4px;
  background-color: #99e2d0;
  margin-top: -6px;
  margin-left: 15px;
}
@media screen and (min-width: 1024px) {
  .underline {
    width: 3.8%;
  }
}/*# sourceMappingURL=menu.css.map */