@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 15px;
  color: black;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin: 40px 0 20px 20px;
}
@media screen and (min-width: 1024px) {
  h2 {
    margin: 40px 0 20px 275px;
  }
}

h3 {
  font-family: "Shrikhand", cursive;
  font-size: 1.125rem;
  font-weight: 400;
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #10392f;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.euro {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 5px 0 0;
}

.fa-heart:hover {
  font-weight: 900;
  color: pink;
  color: linear-gradient(#ff79da to #9356dc);
}

/*Mise en page du header*/
header {
  width: 100%;
  height: 64px;
  box-shadow: 0 0 5px 5px #d6d6d6;
  display: flex;
  box-shadow: none;
}
header img {
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 15px;
  margin-right: 40px;
}
header i {
  display: flex;
  justify-content: center;
  margin: 20px 0 15px 24px;
  font-size: 20px;
  color: black;
}
@media screen and (min-width: 1024px) {
  header {
    width: 1440px;
    margin: 0 auto;
    box-shadow: none;
  }
}

/*Mise en forme du menu*/
.menu {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  padding-bottom: 30px;
}
.menu-img {
  margin-bottom: -62px;
  z-index: -10;
  position: relative;
}
.menu-img img {
  width: 100%;
  height: 238px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .menu-img img {
    height: 530px;
  }
}
.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
.menu-title h1 {
  font-family: "Shrikhand", cursive;
}
@media screen and (min-width: 1024px) {
  .menu-title h1 {
    font-size: 1.8rem;
  }
}
.menu-title-heart {
  width: 70px;
  position: relative;
  font-size: 20px;
}
.menu-title .heart-main {
  top: 14px;
  left: 80%;
}
@media screen and (min-width: 1024px) {
  .menu-title .heart-main {
    left: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .menu-title {
    left: -20px;
  }
}

.menu-plates {
  padding: 0 5px;
}
.menu-plates h4 {
  padding: 30px 0 30px 10px;
}
.menu-plates h4::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  border-bottom: 5px solid #99e2d0;
  display: block;
}
@media screen and (min-width: 1024px) {
  .menu-plates h4 {
    font-size: 1.3rem;
  }
}
.menu-plates-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.plate {
  width: 95%;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  gap: 5px;
  box-shadow: 0px 4px 15px 0 #e6e6e6;
  position: relative;
}

.plate-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plate-title {
  width: 255px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 9px;
}
.plate-title h3 {
  width: 80%;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .plate-title h3 {
    width: 600px;
    font-size: 1.3rem;
  }
}
.plate-title p {
  width: 55%;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 380px) {
  .plate-title p {
    overflow: visible;
  }
}
@media screen and (min-width: 1024px) {
  .plate-title p {
    font-size: 1.25rem;
  }
}

/*Mise en forme du footer*/
footer {
  width: 100%;
  background-color: #353535;
  padding: 22px;
  position: relative;
}
footer h3 {
  color: white;
  margin: 0 0 15px 10px;
}
@media screen and (min-width: 1024px) {
  footer h3 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 68px;
    right: 32px;
  }
}
footer .footer-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer .footer-container {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 200px;
  }
}
footer .footer-container a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin: 8px 10px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  footer .footer-container a {
    margin: 0 10px;
  }
}
footer .footer-container a i {
  width: 22px;
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  footer .footer-container a i {
    padding-right: 5px;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    width: 1440px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=menu.css.map */