@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  width: 100%;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  color: black;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin: 40px 0 20px 20px;
}
@media screen and (min-width: 1024px) {
  h2 {
    margin: 40px 0 20px 135px;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  color: black;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #10392f;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

.euro {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 5px 0 0;
}

.cards span {
  display: flex;
  position: relative;
}
.cards .fa-heart {
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.cards .fa-solid {
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 5s ease-in-out;
  opacity: 0;
  background: -webkit-linear-gradient(13deg, #ff79da 0%, #ba62db 66%);
  z-index: 10;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.cards .fa-solid:hover {
  opacity: 1;
}

.loader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loader 3s ease-in-out;
  animation-fill-mode: both;
}
.loader h1 {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 200;
  text-align: center;
  margin-top: 50vh;
  padding-bottom: 20px;
}

.loader span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  animation: 3s infinite linear;
  pointer-events: none;
}

.loader span:nth-child(2) {
  background: #9356dc;
  animation: child2 1.2s infinite linear;
}

.loader span:nth-child(3) {
  background: #99e2d0;
  z-index: 100;
}

.loader span:nth-child(4) {
  background: #89c8fa;
  animation: child4 1.2s infinite linear;
}

@keyframes loader {
  0% {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
    display: none;
  }
}
@keyframes child2 {
  0% {
    transform: translateX(-20px);
    z-index: 200;
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(-20px);
  }
}
@keyframes child4 {
  0% {
    transform: translateX(20px);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(20px);
    z-index: 200;
  }
}
/*Mise en page du header*/
header {
  width: 100%;
  height: 64px;
  box-shadow: 0 0 5px 5px #d6d6d6;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
header img {
  height: 40px;
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 20px;
  height: 100%;
  font-size: 20px;
  color: black;
  position: absolute;
}
@media screen and (min-width: 1024px) {
  header {
    margin: 0 auto;
    box-shadow: none;
  }
}

/*Mise en forme du menu*/
.menu {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  padding-bottom: 30px;
  /*Boutton pour commander*/
  /*Soulignement  des entrées, platset desserts*/
  /*Animation*/
  /*Mise en forme du footer*/
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 50px;
    margin-left: 250px;
  }
  .menu .menu-img {
    margin-bottom: -62px;
    z-index: -10;
    position: relative;
  }
  .menu .menu-img img {
    width: 100%;
    height: 238px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .menu .menu-img img {
    height: 530px;
  }
}
@media screen and (min-width: 1024px) {
  .menu .menu-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    margin-left: 15px;
  }
  .menu .menu-title h1 {
    font-family: "Shrikhand", cursive;
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .menu .menu-title h1 {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 1440px;
    margin-left: -12px;
  }
}
@media screen and (min-width: 1024px) {
  .menu .menu-title .menu-title-heart {
    margin-left: -87px;
    position: absolute;
    margin-top: 8px;
    font-size: 30px;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .menu .menu-title .menu-title-heart {
    margin-left: -76px;
  }
}
@media screen and (min-width: 1024px) {
  .menu .menu-title i {
    margin-left: -87px;
    position: absolute;
    margin-top: 8px;
    font-size: 30px;
    width: 70%;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .menu .menu-title i {
    margin-left: -485px;
  }
}
@media screen and (min-width: 1024px) {
  .menu .menu-title .heart-main {
    top: 14px;
    left: 80%;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .menu .menu-title .heart-main {
    left: 90%;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .menu .menu-title {
    left: -20px;
  }
}
.menu .menu-plates {
  padding: 0 5px;
}
.menu .menu-plates h4 {
  padding: 30px 0 30px 10px;
}
.menu .menu-plates h4::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 5px;
  border-bottom: 5px solid #99e2d0;
  display: block;
}
@media screen and (min-width: 1024px) {
  .menu .menu-plates h4 {
    font-size: 1.3rem;
  }
}
.menu .menu-plates-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.menu .plate {
  width: 95%;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  gap: 5px;
  box-shadow: 0px 4px 15px 0 #e6e6e6;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.menu .plate:hover .plate-check {
  transform: translateX(-62px);
  transition: transform 750ms ease;
}
.menu .plate:hover .plate-check i {
  transform: rotate(360deg);
  transition: transform 1000ms ease;
}
.menu .plate:hover .plate-price {
  transform: translateX(-62px);
  transition: transform 750ms ease;
}
.menu .plate-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu .plate-title {
  width: 255px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 9px;
}
.menu .plate-title h3 {
  width: 80%;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 1024px) {
  .menu .plate-title h3 {
    width: 600px;
    font-size: 1.3rem;
  }
}
.menu .plate-title p {
  width: 100%;
  color: #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}
@media screen and (min-width: 380px) {
  .menu .plate-title p {
    overflow: visible;
  }
}
@media screen and (min-width: 1024px) {
  .menu .plate-title p {
    font-size: 1.25rem;
  }
}
.menu .plate-price {
  color: #000000;
  font-weight: 600;
  position: absolute;
  top: 40px;
  right: 20px;
  transform: translateX(0);
  transition: transform 750ms ease;
}
.menu .plate-check {
  background-color: #99e2d0;
  min-width: 60px;
  height: 77px;
  /*Borders*/
  border-radius: 0 15px 15px 0;
  /*display*/
  display: flex;
  justify-content: center;
  align-items: center;
  /*Position*/
  position: absolute;
  top: 0;
  right: -62px;
  transform: translateX(0);
  transition: transform 750ms ease;
}
.menu .plate-check i {
  color: #ffffff;
}
.menu .btn-purple {
  display: block;
  margin: 30px auto 0;
  width: 216px;
  height: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  border: none;
  border-radius: 50px;
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 10px 0 #b4b4b4;
}
.menu .underline {
  width: 12%;
  height: 4px;
  background-color: #99e2d0;
  margin-top: -6px;
  margin-left: 15px;
}
@media screen and (min-width: 1024px) {
  .menu .underline {
    width: 3.8%;
  }
}
.menu .menu-title-heart .fa-regular:active {
  color: #9356dc;
}
.menu .entrees-anim {
  opacity: 0;
  animation: descend 2s ease forwards;
}
@keyframes descend {
  from {
    transform: translateY(-100%);
    /* Commence en haut (en dehors de l'écran) */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    /* Se termine en bas de l'écran */
    opacity: 1;
  }
}
.menu .plats-anim {
  opacity: 0;
  animation: descend-two 2s ease forwards 2500ms;
}
@keyframes descend-two {
  from {
    transform: translateY(-100%);
    /* Commence en haut (en dehors de l'écran) */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    /* Se termine en bas de l'écran */
    opacity: 1;
  }
}
.menu .desserts-anim {
  opacity: 0;
  animation: descend-three 2s ease forwards 4500ms;
}
@keyframes descend-three {
  from {
    transform: translateY(-100%);
    /* Commence en haut (en dehors de l'écran) */
    opacity: 0;
  }
  to {
    transform: translateY(0);
    /* Se termine en bas de l'écran */
    opacity: 1;
  }
}
.menu footer {
  width: 100%;
  background-color: #353535;
  padding: 22px;
  position: relative;
}
.menu footer h3 {
  color: white;
  margin: 0 0 15px 10px;
}
@media screen and (min-width: 1024px) {
  .menu footer h3 {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 68px;
    right: 32px;
  }
}
.menu .footer-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .menu .footer-container {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 50px;
    margin-right: 200px;
  }
}
.menu .footer-container a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  margin: 8px 10px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .menu .footer-container a {
    margin: 0 10px;
  }
}
.menu .footer-container a i {
  width: 22px;
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  .menu .footer-container a i {
    padding-right: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 1440px;
    margin: 0 auto;
  }
}/*# sourceMappingURL=menu.css.map */