//Base
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  }

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin-left: 15px;
  color: black;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  margin: 40px 0 20px 20px;
  @media screen and (min-width: 1024px) {
    margin: 40px 0 20px 275px;
  }
}

h3 {

  font-family: 'Shrikhand', cursive;
  font-size: 1.125rem;
  font-weight: 400;
  color: black;
}

p {

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.euro {

  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 5px 0 0;
}

.fa-heart:hover {
font-weight: 900;
color: pink;
background-image: linear-gradient(#ff79da to #9356dc);
}

// Typographie
//font-family: 'Roboto', sans-serif;
//font-family: 'Shrikhand', cursive;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap');

// Couleurs

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fourth-color: #89c8fa;
$dark-grey: #353535;
$light-grey: #eaeaea;
$light-grey2: #f6f6f6;
$text-black: #000000;
$text-white: #ffffff;

//les fonts

@mixin title-font {
    font-family: 'Shrikhand', cursive;
  }

  @mixin text-font {
    font-family: 'Roboto', sans-serif;
  }

  //Les ombres
@mixin header-shadow {
  box-shadow: 0 0 5px 5px darken(#eaeaea, 8%);
}

@mixin shadow-button {
  box-shadow: 0 0 10px 0 darken(#f6f6f6, 26%);
}

@mixin menu-shadow {
  box-shadow: 0px 4px 15px 0 lighten(black, 90%);
}
