//Base
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

// Typographie
//font-family: 'Roboto', sans-serif;
//font-family: 'Shrikhand', cursive;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Shrikhand&display=swap');

// Couleurs

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fourth-color: #89c8fa;
$dark-grey: #353535;
$light-grey: #eaeaea;
$light-grey2: #f6f6f6;
$text-black: #000000;
$text-white: #ffffff;

//les fonts

@mixin title-font {
    font-family: 'Shrikhand', cursive;
  }

  @mixin text-font {
    font-family: 'Roboto', sans-serif;
  }

