@import 'base';

/*Boutton pour commander*/

.btn-purple {
    display: block;
    margin: 30px auto 0;
    width: 216px;
    height: 50px;
    background: linear-gradient($secondary-color, $primary-color);
    border: none;
    border-radius: 50px;
    padding: 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: $text-white;
    cursor: pointer;
    box-shadow: 0 0 10px 0 darken($light-grey2, 30%);
  }

  .btn-purple:hover {
    opacity: 1;
    background-color:  $fourth-color;
    animation: btn-purple-anim 0.75s ease-out forwards;
    box-shadow: 0 0 10px 0 darken($light-grey2, 50%);
  }

  @keyframes btn-purple-anim {
    0% {
        filter:brightness(1.05) ;
        -webkit-filter:brightness(1.05) ;
    }
    50% {
        filter:brightness(1.1) ;
        -webkit-filter:brightness(1.1) ;
    }
    100% {
        filter:brightness(1.15) ;
        -webkit-filter:brightness(1.15) ;
    }
  }